<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<title><%- title %>
</title>
<meta name="description" content="<%- description %>" />
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta property="og:description" content="<%- description %>" />
<meta property="og:title" content="<%- title %>" />
<meta property="og:url" content="<%- url %>" />
<meta property="og:image" content="https://www.junonline.jp/special/100recommended_23aw/img/ogp.jpg" />
<meta property="og:site_name" content="<%- title %>" />
<meta name="twitter:title" content="<%- title %>" />
<meta name="twitter:image" content="https://www.junonline.jp/special/100recommended_23aw/img/ogp.jpg" />
<meta name="twitter:description" content="<%- description %>" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="<%- url %>" />

<!-- SP用 styles ------------------------------------ -->
<link rel="stylesheet" href="/common/sp/css/reset.css" media="only screen and (max-width: 768px)" />
<link rel="stylesheet" href="/common/sp/css/plugin.css" media="only screen and (max-width: 768px)" />
<link rel="stylesheet" href="/common/sp/css/base.css" media="only screen and (max-width: 768px)" />
<link rel="stylesheet" href="/common/sp/css/module.css" media="only screen and (max-width: 768px)" />
<!-- /SP用 styles ------------------------------------ -->

<!-- PC用 styles ------------------------------------ -->
<link rel="stylesheet" href="/common/pc/css/reset.css" media="only screen and (min-width: 768px)" />
<link rel="stylesheet" href="/common/pc/css/plugin.css" media="only screen and (min-width: 768px)" />
<link rel="stylesheet" href="/common/pc/css/base.css" media="only screen and (min-width: 768px)" />
<link rel="stylesheet" href="/common/pc/css/module.css" media="only screen and (min-width: 768px)" />
<!-- /PC用 styles ------------------------------------ -->

<!-- 静的ページ用 styles ------------------------------------ -->
<link rel="stylesheet" href="/common/static/css/jos_style.css" type="text/css" media="all" />
<!-- /静的ページ用 styles ------------------------------------ -->

<link rel="stylesheet" href="/common/static/css/yappli.css" type="text/css" media="all" />

<?php include $_SERVER['DOCUMENT_ROOT'].'/templates/parts/meta-robots.phtml'; ?>
<?php include $_SERVER['DOCUMENT_ROOT'].'/templates/parts/head-end.phtml'; ?>
<script src="//cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js" defer></script>
<script src="//cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.0/bundled/lenis.js" defer></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" defer></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollToPlugin.min.js" defer></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" defer></script>
<script>
  (function(d) {
    var config = {
        kitId: 'ows1kmp',
        scriptTimeout: 3000,
        async: true
      },
      h = d.documentElement,
      t = setTimeout(function() {
        h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
      }, config.scriptTimeout),
      tk = d.createElement("script"),
      f = false,
      s = d.getElementsByTagName("script")[0],
      a;
    h.className += " wf-loading";
    tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
    tk.async = true;
    tk.onload = tk.onreadystatechange = function() {
      a = this.readyState;
      if (f || a && a != "complete" && a != "loaded") return;
      f = true;
      clearTimeout(t);
      try {
        Typekit.load(config)
      } catch (e) {}
    };
    s.parentNode.insertBefore(tk, s)
  })(document);
</script>
<link rel="stylesheet" href="./assets/css/style.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />