<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
  <%- title %>
</title>
<meta name="keywords" content="<%- keywords %>" />
<meta name="description" content="<%- description %>" />
<meta property="og:type" content="website" />
<meta property="og:description" content="<%- description %>" />
<meta property="og:title" content="<%- title %>" />
<meta property="og:url" content="<%- url %>" />
<meta property="og:image" content="<%- ogimage %>" />
<meta property="og:site_name" content="<%- title %>" />
<meta name="twitter:title" content="<%- title %>" />
<meta name="twitter:image" content="<%- ogimage %>" />
<meta name="twitter:description" content="<%- description %>" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="<%- url %>" />
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
/>
<link rel="stylesheet" href="./assets/css/style.min.css" />
<script src=" //cdn.jsdelivr.net/npm/bowser@2.11.0/es5.min.js" defer></script>
<script>
  (function(d) {
    var config = {
      kitId: 'qvj1nra',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>